n8n/P4V AI CL Comment (Unity 2021.3).json
{
  "name": "P4V AI CL Comment (Unity 2021.3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a1b46e74-9193-4f90-bc61-792e93c6ae0e",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -128
      ],
      "id": "a048c274-8aa9-4957-83ff-7552b4894770",
      "name": "Webhook",
      "webhookId": "a1b46e74-9193-4f90-bc61-792e93c6ae0e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.userMessage }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "당신은 유니티 2021.3을 사용하는 C# 시니어 소프트웨어 개발자입니다. 코드 변경 내용을 분석하여 커밋 메시지를 작성합니다.\n\n  ## 규칙\n  1. 첫 줄: [태그] 제목 (50자 이내)\n     - [Feature]: 새 기능\n     - [Fix]: 버그 수정\n     - [Refactor]: 리팩토링\n     - [Style]: 스타일 변경\n     - [Docs]: 문서 변경\n  2. 빈 줄 후 상세 설명\n  3. 파일별로 변경 내용을 bullet point로 설명\n  4. 한국어로 작성\n  5. 커밋 메시지만 출력 (다른 설명 불필요)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -128
      ],
      "id": "e06d8d71-9147-44c5-858c-80b58263f9d7",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        144
      ],
      "id": "aa8276a3-c398-4b43-bbef-3b31e8912eb4",
      "name": "Google Gemini Chat Model",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "l4lpLDyyyZ2qkrmm",
          "name": "Google Gemini(PaLM) Api account 244"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Webhook에서 받은 데이터\n  const body = $input.first().json.body;\n  const files = body.files || [];\n\n  // 파일 변경 내용을 문자열로 변환\n  const filesInfo = files.map((f, idx) => {\n    return `### 파일 ${idx + 1}: ${f.depot_path}\n  - 액션: ${f.action}\n\n  \\`\\`\\`diff\n  ${f.diff}\n  \\`\\`\\``;\n  }).join('\\n\\n');\n\n  // User Message에 넣을 내용\n  const userMessage = `## Changelist 정보\n  - 번호: ${body.changelist.number}\n  - 사용자: ${body.changelist.user}\n  - 현재 설명: ${body.changelist.current_description || '(없음)'}\n\n  ## 변경된 파일 (${files.length}개)\n\n  ${filesInfo}\n\n  위 코드 변경 내용을 분석하여 커밋 메시지를 작성해주세요.`;\n\n  return {\n    userMessage: userMessage,\n    changelist: body.changelist\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -128
      ],
      "id": "f4da7b60-66ad-4497-8b2e-8340c0c176eb",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "jsCode": "  // LLM 응답 가져오기\n  const llmResponse = $input.first().json;\n\n  // LLM 출력 텍스트 추출 (노드 구조에 따라 조정 필요)\n  const description = llmResponse.text || llmResponse.output || llmResponse.response || '';\n\n  // 첫 줄을 summary로 사용\n  const lines = description.trim().split('\\n');\n  const summary = lines[0].replace(/^\\[.*?\\]\\s*/, '').trim();\n\n  // 응답 형식 구성\n  return {\n    success: true,\n    description: description.trim(),\n    summary: summary\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -160
      ],
      "id": "9d6d7539-198b-45bc-bb92-c316d3d290a3",
      "name": "Response Format"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        -128
      ],
      "id": "9f482703-ab6e-469e-bbe9-870f4d73bd7f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": " const input = $input.first().json;\n\n  // 실제 에러 메시지 추출\n  let errorMsg = \"AI 처리 중 오류가 발생했습니다.\";\n\n  if (input.error) {\n    errorMsg = input.error;\n  } else if (input.message) {\n    errorMsg = input.message;\n  }\n\n  return {\n    success: false,\n    error: errorMsg,\n    description: \"\",\n    summary: \"\"\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        16
      ],
      "id": "a57ac7da-067f-447a-ae58-9297b1a7af21",
      "name": "Error Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "id": "89081173-9094-45c4-9e05-6fa3c9a20b01",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "l4lpLDyyyZ2qkrmm",
          "name": "Google Gemini(PaLM) Api account 244"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "versionId": "8c098e22-719b-4aa1-bc39-6a6286fc4258",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "636396f02b6571e40d8fe91cba550515c0cdc0e7d314c210e00b02256375a796"
  },
  "id": "WJ2ykciWFkDHBlQd",
  "tags": []
}