n8n/P4V AI Assistant (Description + Review).json
{
  "name": "P4V AI Assistant (Description + Review)",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-review",
                    "leftValue": "={{ $json.body.request_type }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-description",
                    "leftValue": "={{ $json.body.request_type }}",
                    "rightValue": "description",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "description"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1504,
        -368
      ],
      "id": "352eef59-bc80-4931-82fb-cf7d82365b68",
      "name": "Switch Request Type"
    },
    {
      "parameters": {
        "jsCode": "// Webhook에서 받은 데이터\nconst body = $input.first().json.body;\nconst files = body.files || [];\n\n// 파일 변경 내용을 문자열로 변환\nconst filesInfo = files.map((f, idx) => {\n  return `### 파일 ${idx + 1}: ${f.depot_path}\n- 액션: ${f.action}\n\n\\`\\`\\`diff\n${f.diff || '(diff 없음)'}\n\\`\\`\\``;\n}).join('\\n\\n');\n\n// User Message에 넣을 내용\nconst userMessage = `## Changelist 정보\n- 번호: ${body.changelist.number}\n- 사용자: ${body.changelist.user}\n- 현재 설명: ${body.changelist.current_description || '(없음)'}\n\n## 변경된 파일 (${files.length}개)\n\n${filesInfo}\n\n위 코드 변경 내용을 분석하여 커밋 메시지를 작성해주세요.`;\n\nreturn {\n  userMessage: userMessage,\n  changelist: body.changelist,\n  request_type: 'description',\n  expert_context: body.expert_context || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -128
      ],
      "id": "6e8487cc-bd7c-4577-a1ab-8b5bba64525a",
      "name": "Prepare Description Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "당신은 시니어 소프트웨어 개발자입니다. 코드 변경 내용을 분석하여 커밋 메시지를 작성합니다.\n\n## 규칙\n1. 첫 줄: [태그] 제목 (50자 이내)\n   - [Feature]: 새 기능\n   - [Fix]: 버그 수정\n   - [Refactor]: 리팩토링\n   - [Style]: 스타일 변경\n   - [Docs]: 문서 변경\n   - [Chore]: 기타 작업\n2. 빈 줄 후 상세 설명\n3. 파일별로 변경 내용을 bullet point로 설명\n4. 한국어로 작성\n5. 커밋 메시지만 출력 (다른 설명 불필요)\n\n{{ $json.expert_context }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1104,
        -128
      ],
      "id": "e214339e-8493-4fbe-8917-746b03440565",
      "name": "AI Agent (Description)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// LLM 응답 가져오기\nconst llmResponse = $input.first().json;\n\n// LLM 출력 텍스트 추출\nconst description = llmResponse.text || llmResponse.output || llmResponse.response || '';\n\n// 첫 줄을 summary로 사용\nconst lines = description.trim().split('\\n');\nconst summary = lines[0].replace(/^\\[.*?\\]\\s*/, '').trim();\n\nreturn {\n  success: true,\n  description: description.trim(),\n  summary: summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -224
      ],
      "id": "53b37f49-f845-41c9-a8fa-f2a27b39ede4",
      "name": "Format Description Response"
    },
    {
      "parameters": {
        "jsCode": "// Webhook에서 받은 데이터\nconst body = $input.first().json.body;\nconst files = body.files || [];\n\n// 파일 변경 내용을 문자열로 변환\nconst filesInfo = files.map((f, idx) => {\n  const fileName = f.depot_path.split('/').pop();\n  return `### 파일 ${idx + 1}: ${f.depot_path}\n- 액션: ${f.action}\n- 리비전: ${f.revision || 'N/A'}\n\n\\`\\`\\`diff\n${f.diff || '(diff 없음)'}\n\\`\\`\\``;\n}).join('\\n\\n');\n\n// User Message에 넣을 내용\nconst userMessage = `## Changelist 정보\n- 번호: ${body.changelist.number}\n- 사용자: ${body.changelist.user}\n- 설명: ${body.changelist.current_description || '(없음)'}\n\n## 리뷰 대상 파일 (${files.length}개)\n\n${filesInfo}\n\n위 코드 변경사항을 분석하여 코드 리뷰를 수행해주세요.`;\n\nreturn {\n  userMessage: userMessage,\n  changelist: body.changelist,\n  files: files,\n  request_type: 'review',\n  session_key: body.session_key || `cl_${body.changelist.number}`,\n  batch_info: body.batch_info || { current: 1, total: 1 },\n  expert_context: body.expert_context || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        -528
      ],
      "id": "8b0ae017-9bad-45e0-b17b-6ab016810b5e",
      "name": "Prepare Review Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "당신은 시니어 소프트웨어 엔지니어이자 코드 리뷰어입니다.\n주어진 코드 변경사항(diff)을 분석하여 코드 리뷰를 수행합니다.\n\n## 리뷰 관점\n1. 버그 가능성 (null 체크 누락, 경계 조건 오류 등)\n2. 성능 이슈 (불필요한 루프, 메모리 누수 가능성 등)\n3. 보안 취약점 (입력 검증 누락, 하드코딩된 비밀정보 등)\n4. 코딩 컨벤션/베스트 프랙티스\n5. 가독성 및 유지보수성\n\n## 응답 형식\n반드시 아래 JSON 형식으로만 응답하세요. 다른 텍스트는 포함하지 마세요.\n\n```json\n{\n  \"summary\": \"전체 리뷰 요약 (1-2문장, 한국어)\",\n  \"overall_score\": 0부터 100 사이의 점수,\n  \"comments\": [\n    {\n      \"file_path\": \"파일 경로 (depot path 그대로)\",\n      \"line_number\": 문제가 있는 라인 번호 (숫자),\n      \"severity\": \"critical 또는 warning 또는 info 또는 suggestion\",\n      \"category\": \"bug 또는 security 또는 performance 또는 style 또는 maintainability\",\n      \"message\": \"문제 설명 (한국어)\",\n      \"suggestion\": \"수정 제안 (한국어, 선택사항)\"\n    }\n  ]\n}\n```\n\n## 심각도 기준\n- critical: 즉시 수정 필요 (버그, 보안 취약점, 크래시 가능성)\n- warning: 수정 권장 (성능 이슈, 잠재적 문제)\n- info: 참고 사항 (컨벤션, 스타일)\n- suggestion: 개선 제안 (더 나은 방법 제시)\n\n## 점수 기준\n- 90-100: 훌륭함, 문제 없음\n- 70-89: 양호, 사소한 개선 필요\n- 50-69: 보통, 몇 가지 수정 권장\n- 30-49: 미흡, 여러 문제 있음\n- 0-29: 심각, 즉시 수정 필요\n\n## 주의사항\n- 발견된 이슈가 없으면 comments를 빈 배열 []로 반환\n- line_number는 diff에서 추정 가능한 경우에만 포함, 불확실하면 0\n- JSON 형식만 출력, 추가 설명 금지\n\n{{ $json.expert_context }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1088,
        -528
      ],
      "id": "c2e844ba-82b0-4340-87bc-06fba5099927",
      "name": "AI Agent (Review)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// LLM 응답 가져오기\nconst llmResponse = $input.first().json;\nconst text = llmResponse.text || llmResponse.output || llmResponse.response || '';\n\ntry {\n  // JSON 블록 추출 (```json ... ``` 형식 처리)\n  let jsonStr = text;\n  const jsonMatch = text.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1];\n  } else {\n    // JSON 객체만 추출 시도\n    const objMatch = text.match(/\\{[\\s\\S]*\\}/);\n    if (objMatch) {\n      jsonStr = objMatch[0];\n    }\n  }\n  \n  const parsed = JSON.parse(jsonStr);\n  \n  // 통계 계산\n  const comments = parsed.comments || [];\n  const statistics = {\n    critical: 0,\n    warning: 0,\n    info: 0,\n    suggestion: 0\n  };\n  \n  comments.forEach(c => {\n    const severity = (c.severity || 'info').toLowerCase();\n    if (statistics.hasOwnProperty(severity)) {\n      statistics[severity]++;\n    }\n  });\n  \n  return {\n    success: true,\n    summary: parsed.summary || '리뷰 완료',\n    overall_score: parsed.overall_score || 70,\n    comments: comments,\n    statistics: statistics\n  };\n} catch (e) {\n  // JSON 파싱 실패 시 기본 응답\n  return {\n    success: true,\n    summary: text.substring(0, 200) || '리뷰 완료',\n    overall_score: 70,\n    comments: [],\n    statistics: {\n      critical: 0,\n      warning: 0,\n      info: 0,\n      suggestion: 0\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -592
      ],
      "id": "d545fb07-1299-498c-8871-95406ae13835",
      "name": "Format Review Response"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst requestType = input.request_type || 'unknown';\n\nlet errorMsg = 'AI 처리 중 오류가 발생했습니다.';\n\nif (input.error) {\n  errorMsg = input.error;\n} else if (input.message) {\n  errorMsg = input.message;\n}\n\nif (requestType === 'review') {\n  return {\n    success: false,\n    error: errorMsg,\n    summary: '',\n    overall_score: 0,\n    comments: [],\n    statistics: { critical: 0, warning: 0, info: 0, suggestion: 0 }\n  };\n} else {\n  return {\n    success: false,\n    error: errorMsg,\n    description: '',\n    summary: ''\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -48
      ],
      "id": "93a591df-0cb2-4202-8654-07b246787ec3",
      "name": "Error Response (Description)"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet errorMsg = 'AI 처리 중 오류가 발생했습니다.';\n\nif (input.error) {\n  errorMsg = input.error;\n} else if (input.message) {\n  errorMsg = input.message;\n}\n\nreturn {\n  success: false,\n  error: errorMsg,\n  summary: '',\n  overall_score: 0,\n  comments: [],\n  statistics: { critical: 0, warning: 0, info: 0, suggestion: 0 }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -432
      ],
      "id": "e82a3e97-bfff-4e69-b414-7d1f56ce16cd",
      "name": "Error Response (Review)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1152,
        80
      ],
      "id": "61ea0234-cf45-4a64-a633-967cd0d33026",
      "name": "Gemini (Description)",
      "credentials": {
        "googlePalmApi": {
          "id": "P6qxSHwPyjH6950E",
          "name": "Google Gemini(PaLM) Api account 246"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1216,
        -320
      ],
      "id": "157e5613-cba4-474a-a685-833d3ad99a17",
      "name": "Gemini (Review)",
      "credentials": {
        "googlePalmApi": {
          "id": "P6qxSHwPyjH6950E",
          "name": "Google Gemini(PaLM) Api account 246"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "p4v-ai-assistant",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1712,
        -368
      ],
      "id": "67685922-eff3-4008-a0e2-e1aafaa558d1",
      "name": "Webhook1",
      "webhookId": "p4v-ai-assistant"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -320,
        -384
      ],
      "id": "fa447eb1-fa85-4ad4-bae3-f310feed82eb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1088,
        -320
      ],
      "id": "7f2a2df6-6d8b-4610-8f94-47b4eb059119",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P6qxSHwPyjH6950E",
          "name": "Google Gemini(PaLM) Api account 246"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        80
      ],
      "id": "72060b27-6c8e-49bc-8c07-add2521692b9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "P6qxSHwPyjH6950E",
          "name": "Google Gemini(PaLM) Api account 246"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_key }}",
        "sessionTTL": 900,
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -976,
        -320
      ],
      "id": "39668aac-ce98-4dad-8e0f-7cf887f1e01e",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "7WHbRVnuOFqwlRWH",
          "name": "Redis account 110"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch Request Type": {
      "main": [
        [
          {
            "node": "Prepare Review Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Description Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Description Prompt": {
      "main": [
        [
          {
            "node": "AI Agent (Description)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Description)": {
      "main": [
        [
          {
            "node": "Format Description Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response (Description)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Description Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response (Description)": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Review Prompt": {
      "main": [
        [
          {
            "node": "AI Agent (Review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Review)": {
      "main": [
        [
          {
            "node": "Format Review Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response (Review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response (Review)": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Description)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Description)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Review)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Review)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch Request Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Review)",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Description)",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Review)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "69fadbc8-1736-4c77-a341-43ce474a5b03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "636396f02b6571e40d8fe91cba550515c0cdc0e7d314c210e00b02256375a796"
  },
  "id": "WJ2ykciWFkDHBlQd",
  "tags": []
}